<header>
  <div class="container">
       <h1 class="logo">
        <a routerLink="/">
          <img src="/assets/logo.svg" alt>
          Raa's Polls
        </a>
      </h1>
  </div>
</header>
<main>
  <div class="container poll-add__wrapper">
    <a class="poll-add" routerLink="polls/add" title="Add new poll!" routerLinkActive="poll-add--active">
      <span class="poll-add__text">Add new poll!</span>
      <span class="poll-add__icon">+</span>
    </a>
  </div>
  <router-outlet></router-outlet>
  
</main>



